@import './colors.scss';
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;
  --vt-c-pearl: #F4F5F6;

  --vt-c-black: #262A2D;

  --vt-c-grey-85: #859098;
  --vt-c-grey-D8: #D8DCDE;

  --vt-c-red-eb: #EB5757;
  --vt-c-red-fb: #FBDBDB;

  --vt-c-yellow-eb: #ec9640;
  --vt-c-yellow-fb: #f3c79b80;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-mute: var(--vt-c-pearl);
  --color-background-danger: var(--vt-c-red-fb);
  --color-background-warning: var(--vt-c-yellow-fb);

  --color-border: var(--vt-c-grey-D8);

  --color-heading: var(--vt-c-black);
  --color-heading-mute: var(--vt-c-grey-85);
  --color-text: var(--vt-c-black);
  --color-text-danger: var(--vt-c-red-eb);
  --color-text-warning: var(--vt-c-yellow-eb);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --color-background: var(--vt-c-black);*/
/*    --color-background-soft: var(--vt-c-black-soft);*/
/*    --color-background-mute: var(--vt-c-black-mute);*/

/*    --color-border: var(--vt-c-divider-dark-2);*/
/*    --color-border-hover: var(--vt-c-divider-dark-1);*/

/*    --color-heading: var(--vt-c-text-dark-1);*/
/*    --color-text: var(--vt-c-text-dark-2);*/
/*  }*/
/*}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
}

body {
  color: $gray-600;
  background: url(@/assets/icons/background-pattern.svg) no-repeat center top;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
