@import './base.scss';
@import './breakpoints.scss';
@import './colors.scss';

#app {
  padding: 0 0.6rem;
}

@media screen and (min-width: $breakpoint-tablet) {
  #app {
    padding: 0 2rem;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  #app {
    max-width: calc($breakpoint-desktop + 2rem);
    margin: 0 auto;
  }
}
